@use "style" as *;

$block-name: "b-pagenavigation";

.#{$block-name} {
	display: flex;
	flex-wrap: wrap;
	margin: 83px 0;
	justify-content: end;

	&__numbers {
		display: flex;
	}

	&__number {
		@include button;
		@include button-text;

		width: 56px;
		height: 54px;

		&:hover {
			@include button--active;
			@include button-text--active;
		}
	}

	&__arrow-img {
		background-image: url("img/icons/next_page_arrow.svg");
		background-repeat: no-repeat;
		width: 24px;
		height: 22px;
	}

	&__arrow {
		@include button;
		@include button-text;

		width: 106px;

		&:hover {
			@include button--active;
			@include button-text--active;

			.#{$block-name}__arrow-img {
				background-image: url("img/icons/active_next_page_arrow.svg");
			}
		}
	}
}
