@use "config" as *;

// Складируйте сюда все миксины, используемые на сайте
@mixin h1 {
	font-weight: 600;
	font-size: 4rem;
}

@mixin h2 {
	font-weight: 600;
	font-size: 2rem;
}

@mixin h2--active {
	color: #841844;
}

@mixin date {
	display: block;
	width: 118px;
	padding: 6px 0;
	background-color: #ecf2f5;

	// background-color: $news-date-background-color;
	// color: $color-gray;
	color: #6c6e7b;
	border-radius: 20px;
	text-align: center;
}

@mixin button {
	display: flex;
	width: 214px;
	height: 54px;

	// border: 2px solid $button-border-color;
	border: 2px solid #9b407a;
	border-radius: 50px;

	// background-color: $body-background-color;
	background-color: #fff;
	justify-content: center;
	align-items: center;
}

@mixin button--active {
	background-color: #841844;
}

@mixin button-text--active {
	color: #fff;
}

@mixin button-text {
	font-weight: 600;

	// color: $button-color;
	color: #841844;
	text-transform: uppercase;
	margin-right: 10px;
}

@mixin arrow {
	background-repeat: no-repeat;
	border: none;
	outline: 0;
	width: 26px;
	height: 16px;
}
