@use "config" as *;

// Складируйте сюда все миксины, используемые на сайте
@mixin h1 {
	font-weight: 600;
	font-size: 4rem;
}

@mixin h2 {
	font-weight: 600;
	font-size: 2rem;
}

@mixin h2--active {
	color: $button-color;
}

@mixin date {
	display: block;
	width: 118px;
	padding: 6px 0;
	background-color: $news-date-background-color;
	color: $color-gray;
	border-radius: 20px;
	text-align: center;
}

@mixin button {
	display: flex;
	width: 214px;
	height: 54px;
	border: 2px solid $button-border-color;
	border-radius: 50px;
	background-color: $body-background-color;
	justify-content: center;
	align-items: center;
}

@mixin button--active {
	background-color: $button-color;
}

@mixin button-text--active {
	color: $color-white;
}

@mixin button-text {
	font-weight: 600;
	color: $button-color;
	text-transform: uppercase;
	margin-right: 10px;
}

@mixin arrow {
	background-repeat: no-repeat;
	border: none;
	outline: 0;
	width: 26px;
	height: 16px;
}

@mixin field {
	height: 2rem;
	width: 420px;
	box-sizing: border-box;
}

@mixin field-name {
	font-size: 1.3rem;
	line-height: 2.2rem;
}

@mixin required {
	color: $button-color;
}

@mixin form-focus {
	background-color: $color-white;
	outline: none;
	border-top: 2px solid $button-border-color;
	border-right: 2px solid $button-border-color;
	border-bottom: 2px solid $button-border-color;
	border-left: 2px solid $button-border-color;
	border-radius: 3px;
}
