@use "style" as *;

$block-name: "b-news";

.#{$block-name} {
	display: flex;
	flex-direction: column;
	flex-basis: 48%;

	&__date {
		@include date;
	}

	&__title {
		@include h2;

		margin: 30px 0;
	}

	&__announce {
		flex-grow: 1;
	}

	&__button {
		@include button;

		margin-top: 30px;
	}

	&__button-text {
		@include button-text;
	}

	&__arrow {
		background-image: url("img/icons/arrow.svg");
		background-repeat: no-repeat;
		border-style: none;
		width: 26px;
		height: 16px;
	}

	&:hover {
		.#{$block-name}__title {
			@include h2--active;
		}

		.#{$block-name}__button--active {
			@include button--active;
		}

		.#{$block-name}__button-text--active {
			@include button-text--active;
		}

		.#{$block-name}__arrow--active {
			background-image: url("img/icons/active_arrow.svg");
		}
	}
}
