/* * {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}

ul {
      list-style: none;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-color: #FFF;
}

header {
    display: flex;
    height: 157px;
    border-bottom: 1px solid #6C6E7B;
    justify-content: space-between;
} */

/* .header-logo-link {
    display: inline-flex;
    width: 600px;
    gap: 24px;
    padding: 40px 0 43px 10%;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 93px;
}

.header-logo-title {
    text-transform: uppercase;
    color: #2C145E;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
}*/

/* .header-right-panel {
    display: flex;
}

nav {
    height: 100%;
    width: 700px;
    padding-right: 20px;
}

.topmenu {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.topmenu > li {
    width: 25%;
    position: relative;
    text-align: center;
}

.topmenu > li > a {
    font-size: 1.2rem;
}

.submenu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #9B407A;
    border-radius: 5px;
    background-color: #841844;
}

.submenu > li > a {
    line-height: 1.8rem;
}

ul li:hover {
    a {
        color: #841844;
    }
    .submenu {
        visibility: visible;
        a {
            color: #FFF;
        }
        a:hover {
            color: #000;
        }
    }
} */

/* .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.user-name {
    color: #9B407A;
} */

/* footer {
    display: flex;
    height: 180px;
    justify-content: center;
}

.footer-border {
    width: 80%;
    border-top: 1px solid #6C6E7B;
}

.footer-copyright {
    display: block;
    padding-top: 63.6px;
} */

/* .container {
    width: 80%;
    margin: 0 auto;
} */

/* h1 {
    font-weight: 600;
    font-size: 4rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
} */

/* .news-date {
    display: block;
    width: 118px;
    padding: 6px 0px;
    background-color: #ECF2F5;
    color: #6C6E7B;
    border-radius: 20px;
    text-align: center;
} */

/* .button {
    display: flex;
    border: 2px solid #9B407A;
    border-radius: 50px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

.button-text {
    font-weight: 600;
    color: #841844;
    text-transform: uppercase;
    margin-right: 10px;
} */

/* .news-button {
    width: 214px;
    height: 54px;
} */

/* .button-active {
    background-color: #841844;
}

.button-text-active {
    color: #FFF;
} */

@media (max-width: 1200px) {
    header {
        height: 220px;
        flex-direction: column;
        justify-content: space-around;

    }
    nav {
        flex-direction: column;
        margin: auto;
        padding-right: 0;
        padding-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .header-logo-link {
        width: 300px;
        gap: 18.5px;
        padding: 31px 0 33px 10%;
    }

    .header-logo {
        width: 72px;
    }

    .header-logo-title {
        font-size: 1.3rem;
    }

    footer {
        height: 138px;
    }

    .footer-copyright {
        padding-top: 49px;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .news-button {
        width: 195px;
        height: 49px;
    }
}