/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-button/forms-button.scss ***!
  \***************************************************************************************************************************************************************************************************************/
.b-forms-button {
  display: flex;
  width: 214px;
  height: 54px;
  border: 2px solid #9b407a;
  border-radius: 50px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #841844;
  text-transform: uppercase;
  margin-right: 10px;
  margin: 40px 0;
}
.b-forms-button:hover {
  background-color: #841844;
  color: #fff;
}
/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-checkbox/forms-checkbox.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
.b-forms-checkbox {
  margin-top: 15px;
}
.b-forms-checkbox__label {
  font-size: 1rem;
}
/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-form/forms-form.scss ***!
  \***********************************************************************************************************************************************************************************************************/
.b-forms-form__message {
  display: block;
  line-height: 1.5rem;
  color: red;
}
.b-forms-form__message--true {
  color: green;
}
/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input/forms-input.scss ***!
  \*************************************************************************************************************************************************************************************************************/
.b-forms-input__field-name {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.b-forms-input__required {
  color: #841844;
}
.b-forms-input__field {
  height: 2rem;
  width: 420px;
  box-sizing: border-box;
}
.b-forms-input__field:focus {
  background-color: #fff;
  outline: none;
  border-top: 2px solid #9b407a;
  border-right: 2px solid #9b407a;
  border-bottom: 2px solid #9b407a;
  border-left: 2px solid #9b407a;
  border-radius: 3px;
}
/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-select/forms-select.scss ***!
  \***************************************************************************************************************************************************************************************************************/
.b-forms-select__field-name {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.b-forms-select__required {
  color: #841844;
}
.b-forms-select__selection {
  height: 2rem;
  width: 420px;
  box-sizing: border-box;
}
.b-forms-select__selection:focus {
  background-color: #fff;
  outline: none;
  border-top: 2px solid #9b407a;
  border-right: 2px solid #9b407a;
  border-bottom: 2px solid #9b407a;
  border-left: 2px solid #9b407a;
  border-radius: 3px;
}
/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-textarea/forms-textarea.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
.b-forms-textarea__field-name {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.b-forms-textarea__required {
  color: #841844;
}
.b-forms-textarea__message {
  height: 2rem;
  width: 420px;
  box-sizing: border-box;
  height: 7rem;
}
.b-forms-textarea__message:focus {
  background-color: #fff;
  outline: none;
  border-top: 2px solid #9b407a;
  border-right: 2px solid #9b407a;
  border-bottom: 2px solid #9b407a;
  border-left: 2px solid #9b407a;
  border-radius: 3px;
}

/*# sourceMappingURL=forms.1758181452574.css.map*/