@use "style" as *;

$block-name: "b-catalog-element";

.#{$block-name} {
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
	align-items: center;

	&__content {
		flex-basis: 50%;
	}

	&__slider {
		height: 500px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-basis: 45%;
	}

	&__property {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
}
