@use "style" as *;

$block-name: "b-header";

.#{$block-name} {
	display: flex;
	justify-content: space-between;
	height: 157px;
	border-bottom: 1px solid $block-border-color;

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		width: 600px;
		gap: 24px;
		padding: 40px 0 43px 10%;
	}

	&__logo {
		width: 93px;
	}

	&__title {
		text-transform: uppercase;
		color: $logo-title-color;
		font-family: $logo-title-font-family;
		font-size: 1.75rem;
		letter-spacing: 0.25rem;
	}

	&__right-panel {
		display: inline-flex;
	}

	&__user {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 2%;
	}

	&__name {
		color: $button-border-color;
	}
}
