// Файл для подключения шрифтов и библиотек.
// Писать в этом файле свои стили ОЧЕНЬ не рекомендуется, все стили должны быть разнесены по блокам.
@use "style" as *;
@use "pkg:normalize.css";
@include site-fonts;

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	font-weight: 400;
	font-size: 1rem;
	color: #000;
}

ul {
	list-style: none;
}

p {
	font-size: 1.25rem;
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	min-width: 320px;
	background-color: $body-background-color;
	color: $body-text-color;
	font-family: $body-font-family;
}

html {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

h1 {
	font-weight: 600;
	font-size: 4rem;
}

h2 {
	font-weight: 600;
	font-size: 2rem;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.button {
	display: flex;
	width: 214px;
	height: 54px;
	border: 2px solid $button-border-color;
	border-radius: 50px;
	background-color: $body-background-color;
	justify-content: center;
	align-items: center;
}

.button-text {
	font-weight: 600;
	color: $button-color;
	text-transform: uppercase;
	margin-right: 10px;
}
